/* deck styling */
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Adapted for full width */
    max-width: 1000px; /* Max width to maintain layout on larger screens. JD updated 1/26/26 to enlarge image */ 
    margin: 0 auto;
    flex-wrap: wrap; /* Allow items to wrap as needed */
}

.stimuli-left,
.stimuli-middle,
.stimuli-right {
    width: calc((100% - 100px) / 3); /* Original width calculation. JD updated 1/26/26 from 20 to 100px to increase width b/w images */
    height: calc(((100% - 100px) / 3) * 1.4); /* JD updated 1/26/26 from 20 to 100px to maintain aspect ratio */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.stimuli-middle,
.stimuli-right {
    margin-left: 10px;
}

.stimuli-left img,
.stimuli-middle img,
.stimuli-right img {
    width: auto;
    height: 100%;
    max-width: none;
    object-fit: contain;
}

@media (max-width: 768px) {
    .stimuli-left,
    .stimuli-middle,
    .stimuli-right {
        /* Adjust width to fit all 3 items side by side on smaller screens */
        width: calc((100% - 20px) / 3);
        height: auto; /* Allow height to adjust automatically */
    }

    .stimuli-middle {
        margin-left: 10px; /* Maintain spacing between cards */
    }

    .stimuli-right {
        margin-left: 10px; /* Ensure consistency in spacing */
    }
}

.outcome-container {
    display: flex;
    justify-content: space-between; /* JD changed from center to space-between to increase distance b/w items */
    align-items: center;
    width: 100%; /* Adapt width for responsiveness */
    max-width: 1000px;; /* Control layout on larger screens. JD updated 1/26/26 to match animal stimuli */
    margin: 0 auto;
}

.outcome-left,
.outcome-right {
    width: calc(47% - 20px); /* JD adjusted to change distance b/w items */
    height: auto; /* Dynamic height */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.outcome-right {
    margin-left: 10px; /* Space between the two elements */
}

.outcome-left img,
.outcome-right img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
